* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
}
template {
  display: none;
}
nav, template {
  height: 100vh;
}
nav {
  flex: 0 0 200px;
  overflow-y: auto;
  border-right: 1px solid grey;
}
.note {
    display: inline-block;
    padding: 4px;
}
.note > textarea {
	width: 300px;
  height: 150px;
	overflow: auto;
  resize: none;
	font-family: Ariel, monospace;
	font-size: 15px;
	line-height: 22px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	background-image:url('images/lines.png'), url('images/paper.png');
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 2px 5px #000;
	box-shadow: 0px 2px 5px #000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
  word-wrap: break-word;
}
.feature_button {
  display: inline-block;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #005493;
  padding: 5px 10px 5px 10px;
  border: solid #236dc2 1px;
  text-decoration: none;
}
.feature_button:hover {
  background: #1e73a8;
  text-decoration: none;
}
.close {
  position: relative;
  right: 0;
  top: 0;
  padding: 2px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}
h1.todo_title{
  text-align: center;
}
.grid-container{
  margin: 15px;
  width: 95%;
}
#todo_task{
  display: inline-block;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  background: #ffffff;
  padding: 5px 10px 5px 10px;
}
#task_list{
 list-style: none;
}
ul li {
  cursor: pointer;
  position: relative;
  height: 23px;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: rgba(0, 163, 19, 0.5);
    bac
    color: #eee;
    text-decoration: line-through;
}
span.close{
  position: absolute;
  right: 0px;
}
header {
  background-color: #043769;
  background-image: url('images/edge.png');
  background-position: 120% bottom;
  background-repeat: no-repeat;
  background-size: 170px;
}
header > img {
  height: 64px;
  padding: 7px 10px;
  background: #fff;
  border-radius: 3px;
  margin: 10px;
}
header > div {
  height: 42px;
  line-height: 40px;
  color: #fff;
  background: #002754b3;
  padding: 0 20px;
}
h2, h3, h4 {
  font-weight: normal;
}
#searchInput {
  width: 100%;
  border: none;
  background: #e7e7e7;
  color: #000;
}
#search {
  position: relative;
  margin: 10px 0;
}
#search:before, h2:before { /* icons */
  position: absolute;
  top: 14px;
  left: 14px;
  width: 14px;
  height: 14px;
  content: '';
  background-repeat: no-repeat;
}
#search:before {
  background-image: url('images/search.svg');
  z-index: 1;
  opacity: 0.5;
}
h2, #searchInput {
  font-size: 14px;
  cursor: pointer;
  padding: 0 20px 0 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
}
h2:hover {
  background: #0002;
}
h2:before {
  background-image: url('images/arrow.svg');
  transform: rotate(-90deg);
  background-size: 100% auto;
  width: 13px;
  height: 13px;
}
#about:before {
  background-image: url('images/info.svg');
}
main {
  display: none;
}
.page {
  flex: 1;
  padding: 10px;
  display: block;
}
#time {
  background-image: url('images/2.jpg');
  background-size: cover;
}
#clock {
  display: inline-block;
}
#clock h1, #clock p {
  color: #fff;
  padding: 10px;
  background: #0006;
  display: inline-block;
  margin-bottom: 10px;
}
#clock h1 {
  font-size: 50px;
}
#clock p {
  font-size: 20px;
}
#timer {
  float: right;
  background: #04376985;
  color: #fff;
  padding: 10px;
}
#timer > * {
  margin: 5px;
}
#timer input {
  display: block;
  padding: 10px 15px;
  color: #000;
  border: none;
}
#timer span {
  display: inline-block;
  background: rgb(3, 148, 180);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 2px;
}
#timer span:hover {
  background: rgb(2, 117, 143);
}